/* TODO:TEAM сюда добавлять глобальные стили */
@font-face {
	font-family: Bowler;
	src: url('ofont.ru_Bowler.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-family: Bowler;
}

body {
	background: url('фон.png') no-repeat;
	background-size: cover;
}
