/* TODO:TEAM сюда добавлять глобальные стили */
@font-face{font-family:Bowler;
	 src: url("src/public/ofont.ru_Bowler.ttf")}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	position: relative;
	font-family: Bowler;
}
